body {
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
  }
  
  .jumbotron {
      background-color: #bb2020;
      color: white;
      padding: 30px 0px;
  }
  
  #title {
      font-size: 100px;
      letter-spacing: 10px;
      font-family: 'Josefin Sans', sans-serif;
  }
  
  .heading {
      color: #bb422c;
      padding-top: 25px;
      padding-bottom: 20px;
      font-family: 'Josefin Sans', sans-serif;
  }
  
  p {
      padding: 5px;
      margin: 5px;
  }
  
  .eat-icon, .trash-icon {
      padding-bottom: -10px;
      height: 30px;
      width: 30px;
  }
    
  .label {
      font-weight: bold;
  }
  
  #newBurger {
      padding: 0px 10px;
  }
  
  .form-group {
      margin-bottom: 5px;
  }
    
  h1, h2 {
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
  }
  
  img {
      display: block;
      margin: 0 auto;
      width: 90%;
  }